HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
web/node_modules

# testing
/coverage

# next.js
web/.next
web/out/

# production
web/build

# misc
web/.DS_Store
web/*.pem

# debug
web/npm-debug.log*
web/.pnpm-debug.log*

# env files (can opt-in for committing if needed)
web/.env*

# vercel
web/.vercel

# typescript
web/*.tsbuildinfo
web/next-env.d.ts
