@import "tailwindcss";

html,
body {
  height: 100%;
}

#next {
  height: 100%;
}

.demo-logo-vertical {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.2);
}

.ant-pro-card-body {
  padding: 24px!important;
}